{% extends "base.html" %} {% block title%}Accueil{% endblock%}
 
{% block content %}
<html>
<head>
    <style>
    body
    {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image:url("{{url_for('static', filename='images/toi.jpeg')}}")
    }
    </style>
</head>
<body>
<strong><center><h2>BIENVENUE INTERNAUTE !@! </h2></center></strong>


			<strong><center><u><h1>Bienvenu dans ma boutique</h1></u></strong></center>
		<strong><center><u>les articles et prix</u></center></strong>
		<img src="{{ url_for('static', filename='images/alex.jpg') }}" height="100" width="100" title="voiture de luxe"><br/>
		<u><h3>Marque Nike </h3><h3>prix: 5000</h3></u>
		<a href="E:/boutique" >voir plus</a>
		<h2>les nouvelles Marques</h2>
		<ul>
			<li>NIKE</li>
			<li>Segbago</li>
			<li>Mocasser</li>
			<li>Addidas</li>
			<li>Fermer de luxe</li>
		</ul>
		<img src="{{ url_for('static', filename='images/O.jpeg') }}" title="boutique" width="100" height="100"><br/>
		<u><h3>Rien que de bonne marque à vos services</h3></u>
		<p>
			nous somme disponible pour vous pour vos articles de maison et à des prix raisonnable.
		</p>
		<Table border="4" width="40%" >
		<tr>
		<td colspan="2" align="center"> alexis</td>
		<td>chessures</td>
		<td>moto</td>
		<td>voiture</td>
		<td>vetements</td>
		<td colspan="2" width="25%" align="center">prix:500.000</td>
		</tr>
		<image src="{{ url_for('static', filename='images/OIP cvc(3).jpeg') }}" title="boutique" width="500" height="500"><br/>
		<image src="{{ url_for('static', filename='images/tér.jpeg') }}" title="la qualitée" height="500" width="500">
		<p>
			nous vous permettont de disposer des articles divers grace à nos service en ligne</p>
		<center><u>autre Articles pour vos deplacements</u></center>
		<img src="{{ url_for('static', filename='images/alex.jpg') }}" title="voiture" width="1000" height="1000"><br/>
		<h1><strong>Faire vaut recommandation en ligne</strong></h1>
		<p id="post" >
			Bonjours la famille .Moi s'est alex future informaticien.
			<a href="E:\initiation web\oopii.html" target="_Blanc">virus</a><br>
			<a href="E:\initiation web\pobi.avi" title="musique">telecharger musique</a><br>
			<video title="vidéo" src="ret.mp4" controls="autoplay" poster="jopo.jpg" width="250"></video><br>
			se site mùerite d'un effort appreciçable de votrepart merci!!.
			..
			<div> Cette division contient un titre <hl> Important ! </hl>
				<img src="{{ url_for('static', filename='images/OIP3.jpeg') }}" ><br/>
				<label><input type= "text" placeholder="Profession" checked="checked"/></label>
			</div>
			<ol>
				 <li> élément 1</li>
				 <li> élément 2</li>
			</ol>
			
				<figure>
					 <video src=" ret.mp4" alt="Bloc" controls="controls" poster="OIP (1).jpeg"></video>
					 <img src="{{ url_for('static', filename='images/th.jpeg') }}" alt="musique">
					 <img src="{{ url_for('static', filename='images/th.jpeg') }}" alt="musique">   
					 <figcaption>ma photo est jolie n'est ce pas!</figcaption>
					 <img src="{{ url_for('static', filename='images/OIP (1).jpeg') }}" alt="joge" controls="controls" height="120" />
					 <figcaption>mogot...</figcaption>
				</figure>alex2.jpg
			<ul >
				<li>bonjour</li>
				<li>bon apres midi</li>
				<li>bonsoir</li>
			</ul>
		</p>
		<p class="mogot">Salut campus federale des etats unis moi s'est Alex j'aimerais bien de venir webmaster peut inport ok merci bien
		Salut campus federale des etats unis moi s'est Alex j'aimerais bien de venir webmaster peut inport ok merci bien
	Salut campus federale des etats unis moi<em> D'accord bien vue merci bien</em> s'est Alex j'aimerais bien de venir webmaster peut inport ok merci bien
	Salut campus federale des etats unis moi s'est Alex j'aimerais bien de venir webmaster peut inport ok merci bien
	Salut campus federale des etats unis moi s'est Alex j'aimerais bien de <mark class="text">goute d'abord frere ok mr</mark>venir webmaster peut inport ok merci bien
	Salut campus federale des etats unis moi s'est Alex j'aimerais bien de venir webmaster peut inport ok merci bien
	Salut campus federale des etats unis moi s'est Alex j'aimerais bien de venir webmaster peut inport ok merci bien</p>
	<strong>Etude des ancres</strong>
	<p id="inport">koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?koliko est pres pour une somme de 1500f, qui veux acheter ?
	</p>

</body>
</html>
{% endblock %}